/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Center container */
body {
    height: 100vh;
    background: #860e8c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 350px;
}

.form-box {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Input styling */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background: #58078e;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #530e8c;
}

/* Error message */
#error-msg {
    color: red;
    font-size: 14px;
    text-align: center;
}

/* Toggle text */
.toggle-text {
    text-align: center;
    margin-top: 15px;
}

.toggle-text a {
    color: #5500ff;
    text-decoration: none;
    font-weight: bold;
}
